.idea
.vscode
**/*.iml
**/node_modules

**/target/**
backend/gen/.openapi-generator/**
backend/gen/src/**

frontend/gen/*
frontend/app/build
frontend/app/public/config

#TODO : delete the following line after
# - issue https://github.com/OpenAPITools/openapi-generator/pull/5312 will be resolved
# - all field annotations will be transferred into openapi.yml file
!frontend/gen/src/model/*

data
